<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
<div class="container-fluid">
  <div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <h3 class="text-xl-center">MEUS EVENTOS</h3>
        </li>
      </ol>
    </nav>

    <div class="col-md-15">
      <div class="card" style="width:auto">

        <div class="tab-content">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width:auto">
                <img class="card-img-top" src="https://3semat-ifto.webnode.com/_files/200000002-cd194ce159/200000002.jpg?ph=32f1a4ce5a" alt="logo-evento">
                <div class="card-body">
                  <h5 class="card-title">Evento 1</h5>
                  <p class="card-text">A única imagem que eu consegui chamar</p>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card" style="width:auto">
                <!-- Multiple Checkboxes -->
                <div class="content" >

                  <h4 class="card-title">Descrição do evento</h4>

                  <p class="card-text">O III Seminário de Educação Matemática do IFTO será realizado no campus Paraiso do Tocantins localizado no DISTRITO AGROINDUSTRIAL, BR 153, KM 480, CAIXA POSTAL 151, CEP 77600-000, PARAÍSO DO TOCANTINS - TO.

                    O evento acontecerá nos dias 13 e 14 de Novembro. É de grande importância para o desenvolvimento da matemática do Estado do Tocantins.


                    Leia mais: https://3semat-ifto.webnode.com/</p>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" style="width:auto">
                <div class="form-group">
                  <label class="col-md-4 control-label" for="Button1id"></label>
                  <label class="col-md-4 control-label" for="checkboxes"></label>
                  <div class="col-md-4">

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-dialog-centered">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-footer">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <br>
                            <h4 class="modal-title">atividade 1</h4>
                          </div>
                          <div class="modal-body">
                            <p>atividade sobre K+1</p>
                          </div>
                          <div class="modal-body">
                            <p>atividade sobre medidas </p>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">VOLTAR</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">VER LISTA DE ESPERA</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">INSCREVA SE</button>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                  <div class="checkbox">
                    <label for="checkboxes-0">
                      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">Atividade 1
                      <button id="Button1id" name="Button1id" class="btn btn-success" data-toggle="modal" data-target="#myModal">SABER MAIS..</button>
                    </label>
                  </div>

                  <div class="checkbox">
                    <label for="checkboxes-1">
                      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">Atividade 2
                      <button id="Button1id" name="Button1id" class="btn btn-success" data-toggle="modal" data-target="#myModal">SABER MAIS..</button>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="checkboxes-2">
                      <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
                      Atividade 3
                      <button id="Button1id" name="Button1id" class="btn btn-success" data-toggle="modal" data-target="#myModal">SABER MAIS..</button>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="checkboxes-3">
                      <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
                      Atividade 4
                      <button id="Button1id" name="Button1id" class="btn btn-success" data-toggle="modal" data-target="#myModal">SABER MAIS..</button>
                    </label>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-7">
              <div class="card" style="width:auto">
                <!-- Multiple Checkboxes -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="checkboxes"></label>
                  <div class="col-md-4">
                    <div class="checkbox">
                      <label for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                        Aceitar Termos
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-8 control-label" for="Button1id"></label>
                  <div class="col-md-8">
                    <button id="Button1id" name="Button1id" class="btn btn-danger">Voltar</button>
                    <button id="inscrever -se" name="inscrever -se" class="btn btn-success">Inscrever -se </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>












