<div class="container-fluid">
  <div class="content">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <h3 class="text-xl-center">Eventos</h3>
    </li>
  </ol>
</nav>
    <div class="tab-content">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width:auto" align="center">
            <img class="card-img-top" src="https://i.pinimg.com/originals/de/f6/96/def69643889ee29e232637646e839064.jpg" alt="logo-evento">
            <div class="card-body">
              <h5 class="card-title">Evento 1</h5>
              <p class="card-text">Descrição do Evento</p>
              <button type="button" class="btn btn-primary">VER EVENTO</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
